<a href="https://colab.research.google.com/github/btlewisusabtlewis/dlaicourse/blob/master/NorwayCarSaleSummary2007To2017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import altair as alt

In [0]:
url = 'https://raw.githubusercontent.com/btlewisusabtlewis/sample_data/master/norway_new_car_sales_by_month.csv'
sales = pd.read_csv(url)

In [4]:
sales.head()

   Year  Month  Quantity  ...  Quantity_Hybrid  Quantity_Electric  Import_Electric
0  2007      1     12685  ...              NaN                NaN              NaN
1  2007      2      9793  ...              NaN                NaN              NaN
2  2007      3     11264  ...              NaN                NaN              NaN
3  2007      4      8854  ...              NaN                NaN              NaN
4  2007      5     12007  ...              NaN                NaN              NaN

[5 rows x 17 columns]

In [16]:
sales.tail()

     Year  Month  Quantity  ...  Quantity_Hybrid  Quantity_Electric  Import_Electric
116  2016      9     13854  ...           3991.0             2629.0            517.0
117  2016     10     11932  ...           3209.0             1861.0            486.0
118  2016     11     13194  ...           3181.0             2567.0            502.0
119  2016     12     13602  ...           2597.0             2319.0            361.0
120  2017      1     13055  ...           4419.0             2295.0            494.0

[5 rows x 17 columns]

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 17 columns):
Year                 121 non-null int64
Month                121 non-null int64
Quantity             121 non-null int64
Quantity_YoY         121 non-null int64
Import               121 non-null int64
Import_YoY           121 non-null int64
Used                 61 non-null float64
Used_YoY             49 non-null float64
Avg_CO2              121 non-null int64
Bensin_Co2           121 non-null int64
Diesel_Co2           121 non-null int64
Quantity_Diesel      121 non-null int64
Diesel_Share         121 non-null float64
Diesel_Share_LY      121 non-null float64
Quantity_Hybrid      73 non-null float64
Quantity_Electric    73 non-null float64
Import_Electric      53 non-null float64
dtypes: float64(7), int64(10)
memory usage: 16.2 KB

In [7]:
alt.Chart(sales).mark_bar().encode(
    alt.X('Year:N', title='Year'),
    alt.Y('Quantity:Q', title='Total Sales 2007-2017')
)

alt.Chart(...)

In [13]:
df = sales
subs = {'Quantity_Hybrid': 0, 'Quantity_Electric': 0}
df.fillna(value=subs)

     Year  Month  Quantity  ...  Quantity_Hybrid  Quantity_Electric  Import_Electric
0    2007      1     12685  ...              0.0                0.0              NaN
1    2007      2      9793  ...              0.0                0.0              NaN
2    2007      3     11264  ...              0.0                0.0              NaN
3    2007      4      8854  ...              0.0                0.0              NaN
4    2007      5     12007  ...              0.0                0.0              NaN
..    ...    ...       ...  ...              ...                ...              ...
116  2016      9     13854  ...           3991.0             2629.0            517.0
117  2016     10     11932  ...           3209.0             1861.0            486.0
118  2016     11     13194  ...           3181.0             2567.0            502.0
119  2016     12     13602  ...           2597.0             2319.0            361.0
120  2017      1     13055  ...           4419.0             2295.0            494.0

[121 rows x 17 columns]

In [0]:
new_sales = df.groupby(by='Year').agg({'Quantity': 'sum',
                              'Quantity_Hybrid': 'sum',
                              'Quantity_Electric': 'sum'}).reset_index()

In [0]:
new_sales['Hybrid_Pct'] = new_sales['Quantity_Hybrid']/new_sales['Quantity']

In [21]:
new_sales.head()

   Year  Quantity  Quantity_Hybrid  Quantity_Electric  Hybrid_Pct
0  2007    129195              0.0                0.0    0.000000
1  2008    110617              0.0                0.0    0.000000
2  2009     98675              0.0                0.0    0.000000
3  2010    127754              0.0                0.0    0.000000
4  2011    138345           3903.0             1996.0    0.028212

In [0]:
new_sales['Electric_Pct'] = new_sales['Quantity_Electric']/new_sales['Quantity']

In [23]:
new_sales.head()

   Year  Quantity  Quantity_Hybrid  Quantity_Electric  Hybrid_Pct  Electric_Pct
0  2007    129195              0.0                0.0    0.000000      0.000000
1  2008    110617              0.0                0.0    0.000000      0.000000
2  2009     98675              0.0                0.0    0.000000      0.000000
3  2010    127754              0.0                0.0    0.000000      0.000000
4  2011    138345           3903.0             1996.0    0.028212      0.014428

In [24]:
new_sales.tail(15)

    Year  Quantity  ...  Hybrid_Pct  Electric_Pct
0   2007    129195  ...    0.000000      0.000000
1   2008    110617  ...    0.000000      0.000000
2   2009     98675  ...    0.000000      0.000000
3   2010    127754  ...    0.000000      0.000000
4   2011    138345  ...    0.028212      0.014428
5   2012    137967  ...    0.044518      0.028630
6   2013    142151  ...    0.064558      0.055448
7   2014    144202  ...    0.080380      0.125477
8   2015    150686  ...    0.122593      0.171137
9   2016    154603  ...    0.245312      0.156821
10  2017     13055  ...    0.338491      0.175795

[11 rows x 6 columns]

In [0]:
new_sales['Electric_Pct'] = 100.0 * new_sales['Electric_Pct']

In [0]:
new_sales['Hybrid_Pct'] = 100.0 * new_sales['Hybrid_Pct']

In [27]:
new_sales.tail(15)

    Year  Quantity  ...  Hybrid_Pct  Electric_Pct
0   2007    129195  ...    0.000000      0.000000
1   2008    110617  ...    0.000000      0.000000
2   2009     98675  ...    0.000000      0.000000
3   2010    127754  ...    0.000000      0.000000
4   2011    138345  ...    2.821208      1.442770
5   2012    137967  ...    4.451789      2.863003
6   2013    142151  ...    6.455811      5.544808
7   2014    144202  ...    8.038030     12.547676
8   2015    150686  ...   12.259268     17.113733
9   2016    154603  ...   24.531219     15.682102
10  2017     13055  ...   33.849100     17.579471

[11 rows x 6 columns]

In [0]:
new_sales['Other_Pct'] = 100.0 - (new_sales['Electric_Pct'] + new_sales['Hybrid_Pct'])
new_sales['Green_Pct'] = new_sales['Electric_Pct'] + new_sales['Hybrid_Pct']

In [41]:
new_sales.tail(15)

    Year  Quantity  Quantity_Hybrid  ...       Other   Other_Pct  Green_Pct
0   2007    129195              0.0  ...  100.000000  100.000000   0.000000
1   2008    110617              0.0  ...  100.000000  100.000000   0.000000
2   2009     98675              0.0  ...  100.000000  100.000000   0.000000
3   2010    127754              0.0  ...  100.000000  100.000000   0.000000
4   2011    138345           3903.0  ...   95.736022   95.736022   4.263978
5   2012    137967           6142.0  ...   92.685207   92.685207   7.314793
6   2013    142151           9177.0  ...   87.999381   87.999381  12.000619
7   2014    144202          11591.0  ...   79.414294   79.414294  20.585706
8   2015    150686          18473.0  ...   70.626999   70.626999  29.373001
9   2016    154603          37926.0  ...   59.786679   59.786679  40.213321
10  2017     13055           4419.0  ...   48.571429   48.571429  51.428571

[11 rows x 9 columns]

In [42]:
new_sales.head(15)

    Year  Quantity  Quantity_Hybrid  ...       Other   Other_Pct  Green_Pct
0   2007    129195              0.0  ...  100.000000  100.000000   0.000000
1   2008    110617              0.0  ...  100.000000  100.000000   0.000000
2   2009     98675              0.0  ...  100.000000  100.000000   0.000000
3   2010    127754              0.0  ...  100.000000  100.000000   0.000000
4   2011    138345           3903.0  ...   95.736022   95.736022   4.263978
5   2012    137967           6142.0  ...   92.685207   92.685207   7.314793
6   2013    142151           9177.0  ...   87.999381   87.999381  12.000619
7   2014    144202          11591.0  ...   79.414294   79.414294  20.585706
8   2015    150686          18473.0  ...   70.626999   70.626999  29.373001
9   2016    154603          37926.0  ...   59.786679   59.786679  40.213321
10  2017     13055           4419.0  ...   48.571429   48.571429  51.428571

[11 rows x 9 columns]

In [43]:
new_sales.drop(columns=['Other'])

    Year  Quantity  Quantity_Hybrid  ...  Electric_Pct   Other_Pct  Green_Pct
0   2007    129195              0.0  ...      0.000000  100.000000   0.000000
1   2008    110617              0.0  ...      0.000000  100.000000   0.000000
2   2009     98675              0.0  ...      0.000000  100.000000   0.000000
3   2010    127754              0.0  ...      0.000000  100.000000   0.000000
4   2011    138345           3903.0  ...      1.442770   95.736022   4.263978
5   2012    137967           6142.0  ...      2.863003   92.685207   7.314793
6   2013    142151           9177.0  ...      5.544808   87.999381  12.000619
7   2014    144202          11591.0  ...     12.547676   79.414294  20.585706
8   2015    150686          18473.0  ...     17.113733   70.626999  29.373001
9   2016    154603          37926.0  ...     15.682102   59.786679  40.213321
10  2017     13055           4419.0  ...     17.579471   48.571429  51.428571

[11 rows x 8 columns]

In [0]:
electric_pct = alt.Chart(new_sales, title="Electric Cars Sold in Norway 2007-2017").mark_bar().encode(
    alt.X('Year:O', title = 'Year'),
    alt.Y('Electric_Pct:Q', title = 'Electric Car Percentage'),
    color=alt.value('green')
).properties(
    width=400,
    height=400
)

In [0]:
hybrid_pct = alt.Chart(new_sales, title="Hybrid Cars Sold in Norway 2007-2017").mark_bar().encode(
    alt.X('Year:O', title = 'Year'),
    alt.Y('Hybrid_Pct:Q', title = 'Hybrid Car Percentage'),
    color=alt.value('blue')
).properties(
    width=400,
    height=400
)

In [0]:
other_pct = alt.Chart(new_sales, title="Other Cars Sold in Norway 2007-2017").mark_bar().encode(
    alt.X('Year:O', title = 'Year'),
    alt.Y('Other_Pct:Q', title = 'Other Car Percentage'),
    color=alt.value('gray')
).properties(
    width=400,
    height=400
)

In [94]:
electric_pct | hybrid_pct | other_pct

alt.HConcatChart(...)